h1 {
    color: #76549A !important;
}
h2 {
    color: #DF7861!important;
}
h3 {
    color: #94B49F!important;
}
h4 {
    color: #94B49F!important;
}
h5 {
    color: #94B49F !important;
}
h6 {
    color: #94B49F !important;
}

p {
    color: #300e55 !important;
}

/* body {
    background-color: #fdfdf4!important;
} */

.sig.c   .k, .sig.c   .kt,
.sig.cpp .k, .sig.cpp .kt {
	color: #DF7861;
}

.sig.c   .m,
.sig.cpp .m {
	color: #1750EB;
}

.sig.c   .s, .sig.c   .sc,
.sig.cpp .s, .sig.cpp .sc {
	color: #DF7861;
}
