*.ipynb merge=notebook diff=notebook

*.py filter=whitespace
*.rst filter=whitespace
*.md filter=whitespace

# GitHub syntax highlighting
pixi.lock linguist-language=YAML

# setuptools-scm git archive
.git_archival.txt export-subst
