### OS and IDE temporaries
*.DS_Store
.*~
.*.swp

## Latex temporaries
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib

### Python temporaries
**/__pycache__/*
*.py[cod]
*.egg
MANIFEST

### Jupyter temporaries
**/.ipynb_checkpoints

### Compiled binaries
*.so
*.o
*.a
*.exe
*.out

### Testing and coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
